{% load static %}
{% load astrosat_tags %}
{% load astrosat_users_tags %}

{% users as active_users %}
{% profiles as active_profiles %}

<html>

    <head>
        <title>example project for astrosat apps</title>
        <link rel="icon" href="{% static 'astrosat/img/favicon.png' %}">
        <style>
            body { padding: 2em; margin: 2em; }
            .header { border-bottom: 1px solid #999; font-weight: bold; }
            .footer { border-top: 1px solid #999; font-style: italic; }
            .logo { height: 3rem; padding: 0.5rem; vertical-align: middle; }
            .user { background-color: #ffff90; padding: 2px; }
        </style>
    </head>
    <body>
        <div class="header">
            <img class="logo" src="{% static 'astrosat/img/logo_light_background.png' %}" />
            Behold Django-Astrosat-Users!
        </div>
        <div>
            <p>
                This is an example project demonstrating User Management.
                It is meant to be used as a pure API (except where it isn't).
            </p>
            <p>
                The current user is <span class="user">{{ request.user }}</span>.
            </p>
            <p>
                Here are some useful links:
                <ul>
                    <li>admin:&nbsp;<a href="{% url 'admin:index' %}">{% url 'admin:index' %}</a></li>
                    <li>API Documentation:&nbsp;<a href="{% url 'swagger' %}">{% url 'swagger' %}</a></li>
                    <li>API Access:
                        <ul>
                            <li>/api</li>
                            <li><a href="{% url 'rest_register' %}">{% url 'rest_register' %}</a></li>
                            <li><a href="{% url 'rest_login' %}">{% url 'rest_login' %}</a></li>
                            <li><a href="{% url 'rest_logout' %}">{% url 'rest_logout' %}</a><em>(POST only)</em></li>
                            <li><a href="{% url 'rest_password_reset' %}">{% url 'rest_password_reset' %}</a></li>
                            <li><a href="{% url 'users-list' %}">{% url 'users-list' %}</a>
                                <ul>
                                {% for user in active_users %}
                                    <li><a href="{% url 'users-detail' username=user.username %}">{% url 'users-detail' username=user.username %}</a></li>
                                {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Backend Access:
                        <ul>
                            <li><a href="{% url 'account_signup' %}">{% url 'account_signup' %}</a></li>
                            <li><a href="{% url 'account_login' %}">{% url 'account_login' %}</a></li>
                            <li><a href="{% url 'account_logout' %}">{% url 'account_logout' %}</a></li>
                            <li><a href="{% url 'account_change_password' %}">{% url 'account_change_password' %}</a></li>

                            <li><a href="{% url 'account_reset_password' %}">{% url 'account_reset_password' %}</a></li>
                            <li><a href="{% url 'user-list' %}">{% url 'user-list' %}</a>
                                <ul>
                                {% for user in active_users %}
                                    <li><a href="{% url 'user-detail' username=user.username %}">{{ user.username }}</a></li>
                                {% endfor %}
                                </ul>
                            </li>
                            <li><a href="{% url 'profile-list' %}">{% url 'profile-list' %}</a>
                                <ul>
                                {% for profile in active_profiles %}
                                    <li><a href="{% url 'profile-detail' username=profile.user.username profile_key=profile.key %}">{{ profile.key }} ({{ profile.user }})</a></li>

                                {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>errors <em>(exposed just for testing)</em>:
                        <ul>
                            <li><a href="/400">400</a></li>
                            <li><a href="/403">403</a></li>
                            <li><a href="/404">404</a></li>
                            <li><a href="/500">500</a></li>
                        </ul>
                    </li>
                </ul>
            </p>
        </div>
        <div class="footer">
            <ul>
                <li>title:&nbsp;{% astrosat_users_title %}</li>
                <li>author:&nbsp;{% astrosat_users_author %}</li>
                <li>version:&nbsp;{% astrosat_users_version %}</li>
                <li>source:&nbsp;<a href="https://github.com/astrosat/thermcert/django-astrosat-users">https://github.com/astrosat/thermcert/django-astrosat-users</a></li>
                <li>documentation:&nbsp;TODO</li>
            </ul>
        </div>
    </body>
</html>
