[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
factory-boy = "*"
pytest = "==5.3.5"
pytest-django = "*"
pytest-sugar = "*"

[packages]
django = "~=3.0"  # django, duh
django-allauth = "*"  # user authentication
django-environ = "*"  # better env handling
django-filter = "*"  # richer api filters
django-rest-framework = "*" # api
django-rest-knox = "*"  # secure tokens
dj-rest-auth = {extras = ["with_social"],version = "*"}  # user authentication via api
drf-yasg = "*" # api documentation
zxcvbn = "*"  # secure passwords
django-astrosat-core = {editable = true,git = "https://github.com/astrosat/django-astrosat-core.git",ref = "master"}
django-astrosat-users = {editable = true,path = "./.."}

[requires]
python_version = "3.7"
