[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-sugar = "*"
factory-boy = "*"
django-debug-toolbar = "*"

[packages]
django = "==2.2"
django-environ = "*"
djangorestframework = "*"
django-rest-swagger = "*"
django-astrosat-users = {editable = true,path = "./.."}
9afb19e = {editable = true,path = "./../src/django-astrosat-core"}

[requires]
python_version = "3.7"
