{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div id="users">

    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }} {{ field }}  {{ field.errors|default:"&nbsp;" }}
        {% endfor %}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    {{ form.non_field_errors|safe }}

</div>
{% endblock %}
