{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div id="users">

    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }} {{ field }}  {{ field.errors|default:"&nbsp;" }}
        {% endfor %}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
    {{ form.non_field_errors|safe }}

</div>
{% endblock %}
